<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pokemon?.name | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoading; else loading">
  <div class="pokemon-details">
    <img
      [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/' + pokemon?.id + '.png'"
      [alt]="pokemon?.name" class="pokemon-image" />

    <div class="info-card">
      <h2>#{{ pokemon?.id }} {{ pokemon?.name | titlecase }}</h2>
      <ion-button fill="clear" slot="end" (click)="toggleFavorite(pokemon); $event.stopPropagation()">
        <ion-icon [name]="isFavorite(pokemon) ? 'heart' : 'heart-outline'" color="danger"></ion-icon>
      </ion-button>
      <div class="info-section">
        <h3>Types</h3>
        <ion-chip color="primary" *ngFor="let t of pokemon.types">
          {{ t.type.name }}
        </ion-chip>
      </div>

      <div class="info-section">
        <h3>Abilities</h3>
        <ion-badge color="secondary" *ngFor="let a of pokemon.abilities">
          {{ a.ability.name }}
        </ion-badge>
      </div>

      <div class="info-section">
        <h3>Stats</h3>
        <ion-list>
          <ion-item *ngFor="let s of pokemon.stats">
            <ion-label>{{ s.stat.name }}</ion-label>
            <ion-progress-bar [value]="s.base_stat / 150" color="tertiary"></ion-progress-bar>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>

<ng-template #loading>
  <ion-spinner class="ion-padding"></ion-spinner>
</ng-template>
