<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" #menuButton>
      <ion-button (click)="toggleMenu()" [attr.aria-haspopup]="true" [attr.aria-expanded]="menuOpen" aria-label="Abrir menu de navegação">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Meu App Pokémon</ion-title>
  </ion-toolbar>

  <div *ngIf="menuOpen" class="dropdown-backdrop" (click)="closeMenu()"></div>
  <div class="dropdown-menu animate-dropdown" *ngIf="menuOpen" [style.top.px]="dropdownTop" [style.left.px]="dropdownLeft" role="menu">
    <ion-item button routerLink="/favorites" (click)="closeMenu()" role="menuitem">
      <ion-icon slot="start" name="heart"></ion-icon>
      Favoritos
    </ion-item>
  </div>
</ion-header>
