<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoading; else loading">
  <ion-list *ngIf="favorites.length > 0; else noFavorites">
    <ion-item *ngFor="let pokemon of favorites" (click)="openDetails(+pokemon.id)">
      <ion-thumbnail slot="start">
        <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/' + pokemon.id + '.png'" [alt]="pokemon.name" />
      </ion-thumbnail>
      <ion-label>
        {{ pokemon.name | titlecase }}
        <p>ID: {{ pokemon.id }}</p>
      </ion-label>
      <ion-button fill="clear" slot="end" (click)="toggleFavorite(+pokemon.id); $event.stopPropagation()">
        <ion-icon name="heart" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ng-template #noFavorites>
    <ion-text class="ion-padding">Nenhum Pokémon favoritado.</ion-text>
  </ng-template>
</ion-content>

<ng-template #loading>
  <ion-spinner class="ion-padding"></ion-spinner>
</ng-template>
