<ion-split-pane contentId="main-content" when="sm">
 <ion-banner *ngIf="showRotateBanner" color="warning" mode="ios">
  <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
  <ion-label>Por favor, deite o dispositivo para melhor visualização.</ion-label>
  <ion-button slot="end" fill="clear" (click)="closeRotateBanner()">Fechar</ion-button>
</ion-banner>
  <ion-menu contentId="main-content" side="start" type="overlay">
    <app-pokemon-filter-menu (filterChanged)="applyFilter($event)"></app-pokemon-filter-menu>
  </ion-menu>

  <ion-content id="main-content">
    <ng-container *ngIf="!isLoading; else loading">

      <div class="grid-container">
        <app-pokemon-card
          *ngFor="let pokemon of pokemons; trackBy: trackByPokemonId"
          [pokemon]="pokemon"
          [isFavorite]="isFavorite(pokemon)"
          (toggleFavorite)="toggleFavorite($event)"
          (openDetails)="openDetails($event)"
        ></app-pokemon-card>
      </div>

      <ng-template [ngIf]="errorMessage && !isLoading">
        <div class="error-message">
          <ion-icon name="alert-circle-outline" size="large" color="danger"></ion-icon>
          <p>{{ errorMessage }}</p>
          <ion-button expand="block" (click)="retry()">Tentar novamente</ion-button>
        </div>
      </ng-template>

      <ion-infinite-scroll
        threshold="100px"
        (ionInfinite)="loadPokemons($event)"
        [disabled]="!canLoadMore()"
      >
        <ion-infinite-scroll-content
          loadingSpinner="dots"
          loadingText="Carregando mais Pokémon..."
        >
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-container>

    <ng-template #loading>
      <div class="grid-container">
        <app-pokemon-card *ngFor="let s of skeletons; trackBy: trackBySkeleton" [skeleton]="true"></app-pokemon-card>
      </div>
    </ng-template>
  </ion-content>
</ion-split-pane>
