<ion-content>
  <ng-container *ngIf="!isLoading; else loading">
    <ion-list>
      <app-pokemon-card *ngFor="let pokemon of pokemons" [pokemon]="pokemon" [isFavorite]="isFavorite(pokemon)"
        (toggleFavorite)="toggleFavorite($event)" (openDetails)="openDetails($event)">
      </app-pokemon-card>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadPokemons($event)" [disabled]="!canLoadMore()">
      <ion-infinite-scroll-content loadingSpinner="dots"
        loadingText="Carregando mais Pokémon..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>

  <ng-template #loading>
    <ion-spinner name="crescent" class="ion-padding"></ion-spinner>
  </ng-template>
</ion-content>
