<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!isLoading; else loading">
    <ng-container *ngIf="favorites.length > 0; else noFavorites">
    <div class="grid-container">
      <app-pokemon-card
        *ngFor="let pokemon of favorites; trackBy: trackByPokemonId"
        [pokemon]="pokemon"
        [isFavorite]="true"
        (toggleFavorite)="toggleFavorite($event)"
        (openDetails)="openDetails($event)"
      >
      </app-pokemon-card>
    </div>
    </ng-container>

  <ng-template #noFavorites>
    <div class="no-favorites-container" role="region" aria-label="Sem favoritos">
      <ion-icon name="heart-outline" size="large" color="medium" aria-hidden="true"></ion-icon>

      <ion-text color="medium">
        <h3>Nenhum Pokémon favoritado.</h3>
        <p>
          <a routerLink="/" class="view-pokemons-link" aria-label="Ver Pokémons disponíveis">
            Ver Pokémons
          </a>
        </p>
      </ion-text>
    </div>
  </ng-template>
  </ng-container>

  <ng-template #loading>
    <ion-spinner class="ion-padding"></ion-spinner>
  </ng-template>
</ion-content>
